.list-container{
}
.list-container > div {
    width: 100%;
}
.create-item, .details-container, .list-display{
    background: #fff;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
    padding: 24px;
}
.create-item{
    width: 40%;
    margin: 2rem auto 0rem;
}
.list-display{
    margin: 0rem 2rem;
    height: 96vh;

}
.item-view-mobile{
    display: none;
}
.item-view-web{
    display: block;
}
@media screen and (max-width: 650px) {
    .item-view-mobile{
     display: block;
    }
    .item-view-web{
        display: none;
    }
 }